APP_NAME=lms-app
MAIL_FROM_NAME=LMS App 
MAIL_FROM_ADDRESS=hasan@hellochat.id

# Development
DB_CONNECTION_DEV=pgsql
DB_HOST_DEV=172.17.0.1
DB_PORT_DEV=5431
DB_DATABASE_DEV=lms
DB_USERNAME_DEV=lms
DB_PASSWORD_DEV=secret

MAIL_DRIVER_DEV=smtp
MAIL_HOST_DEV=smtp.mailtrap.io
MAIL_PORT_DEV=2525
MAIL_USERNAME_DEV=null
MAIL_PASSWORD_DEV=null
MAIL_ENCRYPTION_DEV=null

WEBSERVER_PORT_DEV=8081:80

# Production
DB_CONNECTION_PROD=pgsql
DB_HOST_PROD=172.17.0.1
DB_PORT_PROD=5432
DB_DATABASE_PROD=lms
DB_USERNAME_PROD=lms
DB_PASSWORD_PROD=secret

MAIL_DRIVER_PROD=smtp
MAIL_HOST_PROD=smtp.mailtrap.io
MAIL_PORT_PROD=2525
MAIL_USERNAME_PROD=null
MAIL_PASSWORD_PROD=null
MAIL_ENCRYPTION_PROD=null

WEBSERVER_PORT_PROD=8080:80
