/*------------------------------------------*/
/*	   	General
/*------------------------------------------*/
body {
    font-family: "Ubuntu", sans-serif;
    color: #3e4b5b;
}
a {
    color: #fe8196;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #db6075;
    text-decoration: underline;
}


/*------------------------------------------*/
/*	   	Nuxt
/*------------------------------------------*/
.nuxt-progress {
    background: #ef5350;
}

/*------------------------------------------*/
/*	   	Rewrite Bootstrap
/*------------------------------------------*/

/* breadcrumb */
.breadcrumb {
    float: right;
    background: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 6px 0;
}

/* btn */
.btn-primary {
    color: #fff;
    background-color: #fe8196 !important;
    border-color: #fe8196 !important;
}
.btn-action .icon {
    float: left;
    margin-right: 6px;
}

/* cards */
.card {
    border: 0;
    background: #fff;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.3125rem;
}
.card .card-body {
    padding: 2.5rem 2.5rem;
}
.card.card-img-holder .card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.card .card-title {
    color: #343a40;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 500;
}

/* table */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table {
    margin-bottom: 0;
    width: 100%;
    color: #212529;
    border-collapse: collapse;
}
.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: initial;
    font-weight: 500;
    color: #fe8196;
}
table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ebedf2;
}
table th,
.table td {
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
}
.table th,
.table td {
    padding: 0.9375rem;
    vertical-align: top;
    border-top: 1px solid #ebedf2;
}
th {
    text-align: inherit;
}
    .table th img,
    .table td img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}


/*------------------------------------------*/
/*	   	navbar
/*------------------------------------------*/
.default-layout-navbar {
    padding: 0;
    background: #fff;
}
.sidebar-icon-only .navbar .navbar-brand-wrapper {
    width: 70px;
}
.sidebar-icon-only .nav-link{
    font-size: 10px;
    left: -24px;
    position: relative;
    text-align: center;
}
.sidebar-icon-only .sidebar .nav-link .icon {
    float: none;
    margin-right: 0px;
    font-size: 24px;
}
.navbar .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #fff;
    width: 260px;
    height: 70px;
    padding: 1rem 2rem;
}
.navbar-brand .icon {
    float: left;
    margin: 6px 6px 0 0;
}
.navbar-light .navbar-brand {
    color: #fe8196;
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar-light .navbar-brand:hover {
    color: #db6075;
}
.sidebar-icon-only .navbar-brand span {
    display: none;
}
.sidebar-icon-only .navbar .navbar-menu-wrapper {
    width: calc(100% - 70px);
}
.navbar .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #9c9fa6;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 260px);
    height: 70px;
}
.nav-profile-text {
    font-size: 1rem;
}
.navbar .mdi-menu i {
    margin-top: 8px;
    cursor: pointer;
}
.dropdown-menu {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border: none;
}
.nav-link.dropdown-toggle .nav-profile-img {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline;
}
.nav-link.dropdown-toggle .nav-profile-img img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 6px;
}
.nav-profile-text {
    margin-right: 6px;
    color: #3e4b5b;
}


/*------------------------------------------*/
/*	   	Sidebar
/*------------------------------------------*/
.sidebar-icon-only .sidebar {
    width: 70px;
}
.sidebar {
    min-height: calc(100vh - 70px);
    background: #ffffff;
    padding: 0;
    width: 260px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
}
.sidebar .nav-link:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.sidebar .nav-link .icon {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 2px;
}
.nav-link {
    display: block;
    padding: 1rem 2rem;
}
.nav-link:hover {
    background: #fcfcfc;
}
.nav .nav-item a {
    color: #3e4b5b;
    outline: 0;
}
.nav .nav-item a:hover,
.nav .nav-item .nav-dashboard.nuxt-link-active:hover {
    color: #29323d;
}
.nav .nav-item .nav-dashboard.nuxt-link-active {
    color: #3e4b5b;
}
.nav .nav-item .nuxt-link-active,
.nav .nav-item .nuxt-link-exact-active,
.nav .nav-item .nav-dashboard.nuxt-link-exact-active {
    color: #fe8196;
}
.nav .nav-item .nuxt-link-active:hover,
.nav .nav-item .nuxt-link-exact-active:hover,
.nav .nav-item .nav-dashboard.nuxt-link-exact-active:hover {
    color: #db6075;
}


/*------------------------------------------*/
/*	   	Main page
/*------------------------------------------*/

/* main panel */
.sidebar-icon-only .main-panel {
    width: calc(100% - 70px);
}
.main-panel {
    -webkit-transition: width 0.25s ease, margin 0.25s ease;
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 260px);
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.content-wrapper {
    background: #f2edf3;
    padding: 2.75rem 2.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* body wrapper */
.page-body-wrapper {
    padding-top: 70px;
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}

/* Header page */
.page-header {
    margin: 0 0 1.5rem 0;
}
.page-header:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.page-header .page-title {
    float: left;
    color: #343a40;
    font-size: 1.75rem;
    margin-bottom: 0;
}
.page-header .page-title .page-title-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    -webkit-box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
    box-shadow: 0px 3px 8.3px 0.7px rgba(254, 134, 150, 0.3);
}
.page-header .page-title small {
    color: #757575;
    font-weight: 300;
}

/* card table */
.card-table .card-header,
.card-table .card-footer {
    background: #fff;
    border: 0;
}
.card-table .card-header:after,
.card-table .card-footer:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.card-table .card-actions {
    float: right;
}
.card-table .card-body {
    padding: 0 1.25rem;
}
.card-table .table {
    border-width: 1px 0 1px 0;
    border-color: #dee2e6;
    border-style: solid;
    color: #3e4b5b;
}
.card-table .table .btn-actions {
    width: 100px;
}
.card-table .table .btn-actions .btn {
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 38px;
}
.card-table .table .btn-actions .btn .icon {
    font-size: 18px;
}
.card-table .table .btn-default .btn {
    padding: 0 8px !important;
    height: 32px;
    line-height: 30px;
}
.card-table .table .btn-default .btn .icon {
    font-size: 16px;
    float: left;
    margin: 6px 6px 0 0;
}
.card-form {
    margin-bottom: 20px;
}
.pagination {
    margin: 0;
    float: right;
}

/* Lessons */
.card-collapse {
    margin-bottom: 10px;
}
.card-collapse .card-header {
    background: #fff;
    border: 0;
    position: relative;
    padding: 0;
}
.card-collapse .card-header span {
    display: block;
    padding: 12px 20px;
    cursor: pointer;
}
.card-collapse .card-body {
    padding: 0;
}
.card-header .btn-delete,
.card-header .btn-edit {
    position: absolute;
    top: 15px;
    z-index: 10;
}
.card-header .btn-delete {
    right: 80px;
}
.card-header .btn-edit {
    right: 120px;
}
.card-header .btn-collapse {
    position: absolute;
    right: 10px;
    top: 9px;
    z-index: 10;
}
.btn-collapse {
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 42px;
    position: relative;
}
.btn-collapse:before {
    content: "";
    height: 100%;
    width: 1px;
    background: #ccc;
    position: absolute;
    left: -10px;
    top: 0;
}
.btn-collapse:after {
    content: "expand_less";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
.btn-collapse.collapsed:after {
    content: "expand_more";
}
.btn-visibility {
    position: relative;
    height: 38px;
    width: 38px;
}
.btn-visibility:after {
    position: absolute;
    top: 6px;
    left: 6px;
    content: "visibility_off";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
.btn-visibility.collapsed:after {
    content: "visibility";
}
.card-body-wrapper {
    padding: 20px;
    border-top: 1px solid#ccc;
}
.subhead {
    padding: 4px 0;
}
.subhead:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.subhead .icon {
    float: left;
    margin-right: 10px;
}
.subhead small {
    margin-left: 6px;
}
.form-icon {
    position: relative;
}
.form-icon input {
    font-size: 16px;
    border-radius: 0;
}
.form-icon .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    font-size: 20px;
}
.material-items {
    margin-bottom: 30px;
    max-height: 414px;
    overflow: auto;

    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* firefox */
    scrollbar-width: thin; /* firefox */
}
.material-items::-webkit-scrollbar {
    width: 16px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-left: 10px transparent solid;
    background-clip: padding-box;
}
.material-items::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-left: 10px transparent solid;
    background-clip: padding-box;
}
.item {
    margin-bottom: 10px;
    padding: 8px 15px;
}
.item:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.item.bordered {
    border: 1px solid #ccc;
    background: #fafafa;
}
.item .btn-delete,
.item .btn-edit {
    margin-top: 2px;
    margin-left: 10px;
}
.btn-icon {
    padding: 0;
    line-height: 0;
    background: none;
    color: #aaa;
    border: 0;
}
.btn-icon:active,
.btn-icon:focus,
.btn-icon:hover {
    background: none !important;
    color: #666 !important;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
}

.btn-icon.inline {
    display: inline-block;
}
.btn-icon .icon {
    font-size: 20px;
}


/*------------------------------------------*/
/*	   	Form
/*------------------------------------------*/

/* input tag */
.ti-disabled .ti-tag {
    background: #bdbdbd;
}

/* alert */
.alert {
    position: relative;
}
.alert:before {
    position: absolute;
    top: 18px;
    left: 20px;
    content: "info";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
.alert.alert-success:before {
    content: "done";
}
.alert.alert-danger:before {
    content: "error_outline";
}
.alert.alert-warning:before {
    content: "warning";
}
.alert.alert-info:before {
    content: "info";
}
.alert.alert-dismissible .close {
    top: 6px;
}
.alert.alert-dismissible .close .icon {
    font-size: 18px;
}
.alert p {
    margin: 0;
    padding: 6px 32px;
}
.form-error {
    border: 1px solid #ef9a9a !important;
    background: #ffebee;
}
.btn .spinner-border-sm {
    width: 22px;
    height: 22px;
    margin-left: 12px;
}
.btn .icon.float-left {
    margin-right: 6px;
    font-size: 20px;
    margin-top: 2px;
}


/*------------------------------------------*/
/*	    Upload image
/*------------------------------------------*/
.upload-image {
  background: #eeeeee;
    border-radius: 4px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.upload-image:hover .btn-upload {
    right: 10px;
}
.upload-image .btn-upload {
    position: absolute;
    z-index: 100;
    right: -50px;
    width: 40px;
    height: 40px;
}
.upload-image .btn-upload.default {
    bottom: 10px;
    transition: all 0.2s ease-in-out;
}
.upload-image .btn-upload.remove {
    bottom: 58px;
    transition: all 0.4s ease-in-out;
}
.upload-image .btn-upload.restore {
    bottom: 58px;
    transition: all 0.4s ease-in-out;
}
.upload-image label {
    outline: 0;
    width: inherit;
    height: inherit;
    margin-bottom: 0;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}
.upload-image label:after {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    content: "";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
.upload-image .btn-upload.default label:after {
    content: "add_a_photo";
}
.upload-image .btn-upload.remove label:after {
    content: "delete";
}
.upload-image .btn-upload.restore label:after {
    content: "replay";
}
.upload-image label input,
.upload-image label button {
    display: none;
    z-index: -99999;
    opacity: 0;
    position: absolute;
}
.upload-image .upload-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.upload-image .upload-preview .icon {
    font-size: 72px;
    color: #bdbdbd;
}
.upload-image .upload-preview .upload-preview-wrapper {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.upload-image:hover .upload-preview .upload-preview-wrapper {
    background: rgba(255, 255, 255, 0.5);
}
.upload-image .upload-preview .upload-preview-wrapper.has-image {
    background: #fff;
}
.upload-image .upload-preview .upload-preview-wrapper img {
    transition: all 0.3s ease-in-out;
}
.upload-image:hover .upload-preview .upload-preview-wrapper img {
    opacity: 0.5;
}
.btn-warning,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:hover {
    color: #fff !important;
}


/*------------------------------------------*/
/*	   	Image ratio
/*------------------------------------------*/
.square {
    position: relative;
}
.square:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}
.square .square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.img-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.img-wrap img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: -10000px;
    bottom: -10000px;
    left: -10000px;
    right: -10000px;
    margin: auto;
    z-index: 2;
}

/* Other ratios - just apply the desired class to the "box" element */
.ratio2_1:before {
    padding-top: 50%;
}
.ratio1_2:before {
    padding-top: 200%;
}
.ratio4_3:before {
    padding-top: 75%;
}
.ratio16_9:before {
    padding-top: 56.25%;
}
.ratio2_1 .landscape,
.ratio16_9 .landscape {
    max-width: 100% !important;
    max-height: inherit !important;
}
.ratio2_1 .potrait,
.ratio16_9 .potrait {
    max-width: inherit !important;
}

/* image proportion */
.squared {
    max-width: 100%;
    max-height: 100%;
}
.landscape {
    max-height: 100%;
    max-width: inherit;
}
.potrait {
    max-width: 100%;
    max-height: inherit;
}


/*------------------------------------------*/
/*	   	Misc
/*------------------------------------------*/

/* width */
.width-30 {
    width: 30px;
}
.width-100 {
    width: 100px;
}
.width-200 {
    width: 200px;
}

/* colors */
.bg-gradient-primary {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fe8196),
      to(#ffbe96)
    ) !important;
    background: linear-gradient(to right, #fe8196, #ffbe96) !important;
    border: none;
}
.bg-gradient-danger {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ffbf96),
        to(#fe7096)
    ) !important;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
    border: none;
}
.bg-gradient-info {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#90caf9),
        color-stop(99%, #047edf)
    ) !important;
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
    border: none;
}
.bg-gradient-success {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#84d9d2),
        to(#07cdae)
    ) !important;
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
    border: none;
}